 
 <div class="container border" id="main-container">
    <div class="blue-box">
        <h2>Register</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="row">
    <div class="col-md-3 pt-3">
            <div>
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url"></div> 
                <p>
                    <img src="assets/girl.jpeg"><br>
                    <input type="file" style="display:none;" id="title"(change)="selectFile($event)">
            
                    <label for="title" class="title">Upload Your Image</label>
                </p>
            </div>
        </div>
    <div class="col-md-8 ">
        <form (ngSubmit)="onSubmit()">
           
            <input type="text" class="" id="fname" [(ngModel)]="formData.name" name="name" required placeholder="First Name">
            <input type="text" id="lname" [(ngModel)]="formData.name" name="name" required placeholder="Last Name">
            <br><br><br>

            <input type="email" id="email" [(ngModel)]="formData.email" name="email" required placeholder="Email"><br><br>
            <input type="tel" id="pNumber" [(ngModel)]="formData.phoneNumber" name="phoneNumber" pattern="[0-9]*" placeholder="(541)753-3010"required>
            
            <label class="age" for="age">Age:
            <input type="range" id="age" [(ngModel)]="formData.age" name="age" min="20" max="60"><br><br><br>
        </label>
            
            <select id="state" [(ngModel)]="formData.state" name="state" required>
                <option value="" selected>State</option>
                <option value="MH">Maharashtra</option>
                <option value="GJ">Gujrat</option>
                <option value="KA">Karnataka</option>
              </select><br><br>

              <select id="country" [(ngModel)]="formData.state" value="country"name="country" required>
                <option value="" selected>Country</option>
                <option value="MH">Maharashtra</option>
                <option value="GJ">Gujrat</option>
                <option value="KA">Karnataka</option>
              </select><br><br>
          
              <input type="text" id="address" [(ngModel)]="formData.address" name="address" required placeholder="Address"><br><br>
            
              <input type="text" id="tags" [(ngModel)]="formData.tag" name="tag" required placeholder="Tag"><br><br>
              
              <div>
                <button class="btn2" id="btn1">Cricket <i class="fa fa-close"></i> </button>
                <button class="btn2"> Football<i class="fa fa-close"></i></button>
                <button class="btn2">Hockey <i class="fa fa-close"></i> </button>
              </div>
              <label>
                <input type="checkbox" id="check" [(ngModel)]="subscribeToNewsletter"> Subscribe to Newsletter
              </label><br><br>
              
              <button type="submit" (click)="cancel()" class="btn btn-primary mb-3 me-4">Cancel</button>
              <button type="submit" (click)="submit()" class="btn btn-primary mb-3">Submit</button>

        </form>
        </div>
    </div>
</div>




