


  
  <!-- Third Content -->
  
  <div class="container bg-light pt-5 pb-5" >
    <div class="box">
      <h5><i>We're Leaders in</i></h5>
      <h1>Creative Digital Recruitment</h1><br><br>
  
      <div id="line"></div><br><br>
      <span >Based in Surry Hills,the creative hub of sydney we are surrounded by creativity <br> and that reflects on the type of
        jobs we recruit for.</span><br><br><br>
  
      <button class="btn border-info border-2 text-info">FIND OUT MORE ABOUT US!</button>
        
    </div>

   
  </div>
   <!-- Mail Content -->
    <section class="bg-dark container" id="input-container">
      <h4 class="text-white pt-4 text-center">Subscribe to our Job Seeker Mailing List</h4><br>
      <form>
          <input  id="input1" type="text" class="icon-rtl" value placeholder="Enter Your Mail">
      </form>
    
    </section>

    <!-- footer -->

    <footer class="container bg-light">
      <div id="footer">
        <img src="assets/mail.png" height="50px" width="50px">
        <input type="text"><br>
        <p>Copyright @ 2014 Two Byte Consulting.<b>Terms & Policies.</b></p>
      </div>
    </footer>

  